<nav class="navbar navbar-expand-lg bg-primary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand ms-4" routerLink="/">lista Giochi Da Tavolo</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/gameList" routerLinkActive="active">lista Giochi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>