<footer class="footer bg-primary text-white py-3 mt-auto">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="assets/images/amazingImg.jpg" alt="Logo" class="me-2 footer-logo" width="50">
            <span class="fw-bold text-muted">Amazing Spa</span>
        </div>
        <div class="text-muted small mt-2 mt-md-0">
            Amazing Spa. Tutti i diritti riservati.
        </div>
    </div>
</footer>