<!-- <app-from></app-from>
<button (click)="divisione()">submit</button>
<app-lista></app-lista>
<app-attori></app-attori>
<app-dettagli></app-dettagli>
<input type="text" [(ngModel)]="nome">
<input type="text" [(ngModel)]="cognome">
<button (click)="raccogliDettagli()">submit</button>



-->
<h2>Esempio 1</h2>
<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
  <label>Nome:
    <input #firstName type="text" name="firstName" ngModel required minlength="3">
    <div *ngIf="firstName.value.length < 3">
      inserisci almeno 3 caratteri
    </div>
  </label>
  <label>Email:
    <input type="email" name="Email" ngModel required email>
  </label>
  <button type="submit">invia</button>
</form>

<h2>esempio 2</h2>
<form [formGroup]="userForm" (ngSubmit)="userForm.value">
  <label>Nome:
    <input type="text" formControlName="firstName">
    <div *ngIf="firstName.oninvalid">
      inserisci almeno 3 caratteri
    </div>
    <label>Email:
      <input type="email" formControlName="email">
      <button type="submit" [disabled]="userForm.invalid">invia</button>
    </label>
  </label>
</form>

<h2>Esercizio</h2>
<app-new-user></app-new-user>
<app-dettagli-nuovouser></app-dettagli-nuovouser>