<h1 class="mb-4">Lista Prodotti</h1>
<h3>clicca per aggiungere al carrrello:</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let prod of listaProdotti">
      <div class="card h-100" (click)="aggiungiAlCarrello(prod)">
        <div class="card-body">
          <h5 class="card-title">{{ prod.nome }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ prod.prezzo | currency:'EUR' }}</h6>
          <p class="card-text">{{ prod.descrizione }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-carrello></app-carrello>
