<footer class="footer bg-success text-white py-3 mt-auto">
    <div class="container d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <img src="assets/images/logoAzienda.png" alt="Logo" class="me-2 footer-logo" />
            <span class="fw-bold">3FEDIN Spa</span>
        </div>
        <div class="text-muted small mt-2 mt-md-0">
            3FEDIN Spa. Tutti i diritti riservati.
        </div>
    </div>
</footer>