<form [formGroup]="form" (ngSubmit)="onSubmit()" class="p-4 border shadow-sm bg-light mx-auto rounded-4"
    style="max-width: 700px;">
    <h4 class="mb-4 text-center">{{ form.value.id ? 'Modifica Libro' : 'Aggiungi Libro' }}</h4>

    <div class="row rounded-4" id="formColor">
        <div class="mb-3 col-md-6">
            <label class="form-label">Titolo</label>
            <input type="text" class="form-control" formControlName="title" required>
        </div>

        <div class="mb-3 col-md-6">
            <label class="form-label">Autore</label>
            <input type="text" class="form-control" formControlName="author" required>
        </div>

        <div class="mb-3 col-md-6">
            <label class="form-label">Descrizione</label>
            <input type="text" class="form-control" formControlName="description" required>
        </div>

        <div class="mb-3 col-md-6">
            <label class="form-label">Genere</label>
            <input type="text" class="form-control" formControlName="genere" required>
        </div>

        <div class="mb-3 col-md-6">
            <label class="form-label">Anno di publicazione</label>
            <input type="date" class="form-control" formControlName="year" required>
        </div>


        <div class="mb-3 col-md-6">
            <label class="form-label">Stato</label>
            <select class="form-select" formControlName="favorite" required>
                <option [ngValue]="null">-- Seleziona --</option>
                <option [ngValue]="true">preferito</option>
                <option [ngValue]="false">non preferito</option>
            </select>
        </div>

    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-info">
            {{ form.value.id ? 'Aggiorna' : 'Aggiungi' }} Libro
        </button>
        <button *ngIf="form.value.id" type="button" class="btn btn-danger" (click)="resetForm()">Annulla</button>
    </div>
</form>