#hd {
    height: 450px;
    background-color: bisque;
    background-size: cover;
    background-position: top;
}

#headerDescription {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5em 1em;
    border-radius: 30px;
}