<div class="wrapper p-3 rounded">
  <h3>Contattaci</h3>
  <form>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="messaggio" class="form-label">Messaggio</label>
      <textarea class="form-control" id="messaggio" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
</div>
